.animacion{
    display: flexbox;
   
    
    .animacion__container{
        display: flex;
       justify-content: center;
       padding-top: 100px;
       padding-bottom: 100px;
    }

    .rueda{
        animation-name: rotacion;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-direction: linear;
        transform-origin: 80% 80%
    }

    .codigo{
        animation-name: mover;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }

    @media (max-width: 800px){
        .animacion__svg{
            height: 400px;
            width: 400px;
        }
    }
}