$font-size-xxx-large: 40px;
$font-size-xx-large: 30px;
$font-size-x-large: 20px;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-x-small: 12px;

$font-family1: 'Poppins', sans-serif;
$font-family2: 'Ubuntu', sans-serif;

.nav, .footer{
    font-family: $font-family1;
}

h1{
    font-family: $font-family2;
    font-size: $font-size-xx-large;
}
h3{
    font-family: $font-family2;  
    font-size: $font-size-x-large;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
p{
    font-family: $font-family2;  
    font-size: $font-size-large;
    text-align: justify;
    padding: 10px;
    line-height: 200%;
    
}
