.footer{
    height:80px;
    background-color: nth($lista1, 1) ;
    display: flex;
    justify-content: space-around;
    
    

    &__copy{
        display: flex;
        color: $white;
        align-items: center;
        justify-self: center;
       
        
    }

    &__nav{
      display: inline-flex;  
      padding-left: 60px;
      align-items: center;
        
    }

    &__lista{
        display: inline-flex;
        list-style: none;
        
    }
    &__nav li{
      padding-left: 40px;

        a{
            color: $white;
            list-style: none;
            text-decoration: none;
        }
    }
    &__form{
        display: flex;
        align-items: center;
    }
    &__input{
        width: 150px;
        height: 30px;
        border-radius: 4px;  
    }
    &__input:focus{
        background-color: nth($lista2, 1);
    }
      
    &__button{
       width: 50px;
       height: 30px;
       border-radius: 4px;
       background-color: nth($lista2, 1); 
    }
    &__button:hover{
        background-color: $white;
    }

   

}



