#btn-menu{
    display: none;
}

.nav{
    background-color: nth($lista1, 1);
    height: 15vh;
    display: flex;
    justify-content: space-between;

    &__logo{
        padding-top: 20px;
        padding-left: 60px;
        display: block;
        
        

        img{
            width: 4rem;
            height: 4rem;
            
        }
    }


    label{
        font-size: 30px;
        display: none;
        padding: 10px;
        color: $white;
    }
    label:hover{
        cursor: pointer;
        color: nth($lista2, 1);
        
    }

    &__menu ul{
        margin: 0;
        list-style: none;
        padding-top: 20px;
        display: flex;
        justify-content: flex-end;
        padding-right: 50px;
    }
    &__menu li:hover{
        background-color: nth($lista2, 2) ;
        border-radius: 4px;
    }
    &__menu li a{
        display: block;
        padding: 15px 20px;
        color: white;
        text-decoration: none;
    }

    @include vista-md{
        label{
            padding-right: 50px;
            padding-top: 30px;
            display: block;
    
        }
    
        .nav__menu{
            position: absolute;
            background: $white;
            width: 70%;
            margin-top: 95px;
            margin-left: -70%;
            transition: all 0.6s;
            border: 2px solid #000;
            
        }
        &__menu ul{
            flex-direction: column;
        }
        &__menu li{
            border-top: 1px solid #000;
            color: #000;
        }
        &__menu li a{
            
            color: #000;
        }
    
        #btn-menu:checked ~ .nav__menu{
            margin-left: 0;
        }

    }

}